<div class="container">
    <app-plant-lottie></app-plant-lottie>
    <div class="row">
    
      <div class="col align-self-center">
        <div class="image">
            <div class="collection">

            </div>
            <img src="./assets/nat1.JPG" alt="Italian Trulli">
            <app-button-group></app-button-group>
        </div>
      </div>
      <div class="col">
        <div class="image">
            <img src="./assets/nat2.JPG" alt="Italian Trulli">
            <app-button-group></app-button-group>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="image">
            <div class="collection"></div>
            <img src="./assets/nat3.JPG" alt="Italian Trulli">
            <app-button-group></app-button-group>
        </div>
      </div>
      <div class="col">
        <div class="image">
            <div class="collection"></div>
            <img src="./assets/nat4.JPG" alt="Italian Trulli">
            <app-button-group></app-button-group>
        </div>
      </div>
      <div class="col">
        <div class="image">
            <div class="collection"></div>
            <img src="./assets/nat5.JPG" alt="Italian Trulli">
            <app-button-group></app-button-group>
        </div>
      </div>
    </div>
  </div>