.container{

}

.top{
    background-color: grey;
    height: 200px;
}

.profile-avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    width: 150px;
    height: 80%;
}

.avatar{
    vertical-align: middle;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}